/* -------------------- */
/* header
/* -------------------- */
.header {
  background-color: #1b1310;
  color: #fff;
  height: 74px;
  padding: 0 120px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.nav-list {
  /* navの横並び */
  display: flex;
}
.nav-list li {
  list-style: none;
}
.nav-item {
  /* メニューの右側に余白 */
  margin-right: 55px;
}

.burger-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  /* ----------------------- */
  /* base_sp
  /* ----------------------- */

  /* ------------------ */
  /* humberger-menu */
  /* ------------------ */
  .header {
    padding: 0 5%;
  }
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    /*   codepenの挙動のため */
    background-color: transparent;
    border: none;
  }
  .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%, 10px) rotate(45deg);
    transition: transform 0.3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }
  .nav-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  .header-nav {
    width: 100%;
    height: 100%;
    background-color: #1b1310;
    z-index: 2;
  }
  .header-nav .nav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header-nav .nav-item {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
